<div #currentCityName>{{weatherService.cityName}}</div>
<div>
    <img src={{conditionIconUrl}} alt="">
</div>
<div>Temperature: {{weatherService.temperature}}&deg;</div>
<div>Local date and time: {{weatherService.localDateTime}}</div>
<div>Condition: {{weatherService.conditionText}}</div>
<div>Feels like: {{weatherService.feelsLike}}&deg;</div>
<div>Wind speed: {{weatherServicewindSpeed}}km/h</div>
<div>Humidity: {{weatherService.humidity}}%</div>
<div>
    <button (click)="goTo48HoursForecast(currentCityName.textContent)" type="button">48 Hours Forecast</button>
</div>