doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title Finance app 2.0
		// Bootstrap core CSS
		//- link(rel='stylesheet', href='/static/css/bootstrap.min.css')
		//- link(rel='stylesheet', href='/static/css/style.css')
		//- link(rel='icon', href='/static/images/icon.png')

	body
				
	block body

	// Bootstrap core JavaScript
	//- script(src='/static/js/jquery.min.js')
	//- script(src='/static/js/tether.min.js')
	//- script(src='/static/js/bootstrap.min.js')