/* You can add global styles to this file, and also import other style files */

@keyframes example {
    /* to {background-color: #73bbff;}
    from {background-color: #000000;} */
    0%   {background-color: #73bbff;}
    10% {background-color: #54e61b;}
    30%  {background-color: #f05912;}
    50%  {background-color: #b44c32;}
    70% {background-color: #df1e48;}
    90% {background-color: #e6e31b;}
    100% {background-color: #73bbff;}
}
body{
    background-color: #73bbff;
    animation-name: example;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

