<mat-card-content fxLayout="column">

  <p fxFlexAlign="center">Enter name of a city and press search:</p>

  <form (submit)="goToCity(locationToSearch.value)" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="getLocationButton" (click)="getCurrentLocationData()" type="button" mat-mini-fab>
        <i class="material-icons">my_location</i>
      </button>
      <mat-form-field>
        <input matInput type="text" placeholder="Enter location" value={{currentCity}} #locationToSearch/>
        <mat-error></mat-error>
      </mat-form-field>
    </div>
    <button [disabled]="!locationToSearch.value" class="submit" type="submit" mat-raised-button>Search</button>
  </form>
</mat-card-content>