extends shared/_master

block body
  div.table-responsive.table-hover
    table.table
      tbody
        tr
          td time
          td open
          td high
          td low
          td close
          td vwap
          td volume
          td count
        each day in data
          tr
          each info in day
            td= info